<div class="container">
  <div class = "new-lawyer">

    <h3 class = "text-center">Edit a lawyer</h3>
      <%= simple_form_for @lawyer do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email %>
          <%= f.input :phone_number %>
          <%= f.submit "Edit Lawyer", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>
