<h1>my lawyers listing</h1>

<div class="container">
  <div class="row">

    <% @lawyers.each do |lawyer| %>

      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <%= link_to lawyer_path(lawyer) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://askthelaw.ae/wp-content/uploads/2016/12/law-office-lawyers-in-your-city.jpg');">
            <div class="card-category">Lawyer</div>
            <div class="card-description">
              <h2><%= lawyer.first_name %> <%=lawyer.last_name %></h2>
              <!-- <p>Very cool stuff, useful and smart</p> -->
            </div>
          <!-- <img class="card-user avatar" src="user.jpg"> -->
          <!-- <a class="card-link" href=""></a> -->
          </div>
        <% end %>
        <div class="card-user">
          <%= link_to edit_lawyer_path(lawyer) do %>
            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
          <% end %>
          <%= link_to lawyer_path(lawyer), method: :delete, data: { confirm: "Delete your lawyer post ?" }  do %>
            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
