
<div class = "container" style = "padding-top:35px">
<%= form_tag lawyers_path, class: 'main-form', method: :get do %>
    <%= label :location, "Search Lawyers near : " %>
    <%= text_field_tag :location, params[:location] %>
    <%= submit_tag "Search", class: "btn -btn-primary " %>
    <% end %>
    </div>

<div class="container">
<h3> Lawyers in <%=params[:location] %> </h3>
</div>

<!-- ########### Map ################- -->
<div class="container">
<div id="map" style="width: 100%; height: 400px;"></div>
</div>
<!-- ###################################### -->

<!-- JS script for map rendering -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

<!-- ############# lawyer cards ################# -->
<div class="container" style = "padding:30px">
  <div class="row">
    <% @lawyers.each do |lawyer| %>
      <div class="col-xs-12 col-sm-4">
              <%= render partial: "card", object: lawyer, as: :lawyer %>
      </div>
    <% end %>
  </div>
</div>







