<div style = "height:30px"></div>
<div class="container">
  <div class="form-login">

    <h3 class = "text-center">Add a new lawyer</h3>
      <%= simple_form_for @lawyer do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :address %>
          <%= f.input :zip_code %>
          <%= f.input :city %>
          <%= f.input :email %>
          <%= f.input :phone_number %>
          <table>
            <%= f.collection_check_boxes(:speciality_ids, Speciality.all, :id, :name) do |b| %>
              <tr>
                <td><%= b.check_box %></td>
                <td><%=  b.label %></td>
              </tr>
            <% end %>
          </table>
          <p>Add yours pictures</p>
          <%= f.input :photo, as: :attachinary, label: "Profil picture" %>
          <%= f.input :office_photo, as: :attachinary, label: "Office picture" %>
          <%= f.input :price, label: "* Price" %>
          <%= f.submit "Add Lawyer", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyA9fRLzsidnOxWsfnqf2bwu3GU6On8EnYE"></script>
<% end %>
