<div class="container">
  <div class = "new-lawyer">

    <h3 class = "text-center">Add a new lawyer</h3>
      <%= simple_form_for @lawyer do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :address %>
          <%= f.input :email %>
          <%= f.input :phone_number %>
          <%= f.input :photo, as: :attachinary %>
          <%= f.input :price, label: "* Price" %>
          <%= f.submit "Add Lawyer", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>

