<div class="container">
  <div class="lawyer-info text-center">
      <h2><%= @lawyer.first_name %> <%= @lawyer.last_name %><h2>
      <p><%= @lawyer.email %></p>
      <p><%= @lawyer.phone_number %></p>
      <h3>Specialities</h3>
      <% @lawyer.specialities.each do |skill| %>
      <p><%= skill[:name] %></p>
      <% end %>
  </div>
</div>
